<main>
<section class="section section--hero">
 <div class="container">
    <h2 class="h1">
      Importers and distributors of premium, classic&nbsp;Italian&nbsp;wines.
    </h2>
    <%= link_to('Browse our wines', wines_path, class: 'button mt-4') %>
 </div>
</section>
<section class="section section--extra-padding">
  <div class="container">
    <div class="featured">
      <div class="featured__section featured__section--flex order-0">
        <%= render(partial: 'pages/home/featured_section_description') %>
      </div>
      <div class="featured__section text-center order-2 order-md-1">
        <%= image_tag(@featured.image.url, alt: @featured.name) %>
      </div>
      <div class="featured__section featured__section--flex order-1 order-md-2">
        <%= render(partial: 'pages/home/featured_section_details') %>
      </div>
    </div>
  </div>
</section>
<section class="section bg-white">
  <div class="container">
    <%= render(partial: 'pages/home/new_wines') %>
  </div>
</section>
</main>
